/*main body*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*main body background color*/
body {
    background-color: #d9dcd6;
}
/*header styling information*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*first header styling information*/
.h1 {
    display: inline-block;
    font-size: 48px;
}
/*style inline container inside first header*/
.seo {
    color: #d9dcd6;
}
/*styling attributes navigation bar*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*styling attribute list of navigation tabs*/
.header > nav, ul {
    list-style-type: none;
}
/*styling attributes navigation tabs*/
.header > nav, ul, li {
    display: inline-block;
    margin-left: 25px;
}
/*text color hyperlinks in navigation bar*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*font-size for all paragraphs*/
p {
    font-size: 16px;
}
/*background image styling*/ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*positioning property for background image*/
.float-left {
    float: left;
    margin-right: 25px; 
}
/*positioning property for background image*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*main section styling properties*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* styling search engine optimization, online reputation and social media marketing sections*/
.offers {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* format size images in "benefits" class*/
.offers > img {
    max-height: 200px;
}
/*second header style inside "offers" class*/
.offers > h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*styling "benefits" section for lead generation, brand awareness and cost management sections*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*border style and background color for sidebar*/
.lead-brand-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*third header style inside sidebar*/
.lead-brand-cost > h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*icons style inside sidebar*/
.lead-brand-cost > img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* style footer section*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*style second heading inside footer section*/
.footer > h2 {
    font-size: 20px;
}
